<div class="container">
  <div class="row">
    <div class="col-md-10 offset-2">
      <h1>Welcome to Etsy Demo</h1>
      <h2>Etsy is a global creative commerce platform. We build markets, services and economic opportunity for creative entrepreneurs.</h2>
      <p>Within our markets, millions of people around the world connect, both online and offline, to make, sell and buy unique goods. We also offer a wide range of Seller Services and tools that help creative entrepreneurs start, manage and scale their businesses. Our mission is to reimagine commerce in ways that build a more fulfilling and lasting world, and we're committed to using the power of business to strengthen communities and empower people.</p>
      
      <hr>
      
      
      <h2>A handcrafted beginning</h2>
      <p>Etsy was founded in June 2005 in an apartment in Brooklyn, New York to fill a need for an online community where crafters, artists and makers could sell their handmade and vintage goods and craft supplies. In the spirit of handmade, founder Rob Kalin and two friends designed the first site, wrote the code, assembled the servers and spliced the cables to get Etsy up and running. In 2008, Chad Dickerson joined Etsy as its first CTO, and created the company’s foundational engineering culture, treating “Code as Craft”. Chad became CEO in 2011 and began championing the “reimagination of commerce,” a transformation of every aspect of how goods are made, bought and sold. Under Chad's leadership, the website that began in an apartment in Brooklyn has evolved into a sophisticated technology platform that connects Etsy sellers and buyers across borders, languages and devices, a company that spans the globe and a business that is committed to creating lasting change in the world.</p>

            
    </div>
  </div>
  
</div>


